<div class="navbar-inner nav_background position-relative" ng-show="user_logout">
    <div class="row center-block">
        <div class="navbar-container">
            <div class="nav_style">
                <ul class="nav navbar-nav" style="float: none;">
                    <li ui-sref-active="active">
                        <a ui-sref="app.actual"><img src="./assets/img/avatars/actual.png"></br>实验任务</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.alarm"><img src="./assets/img/avatars/alarm.png"></br>我的课程</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.falsereport"><img src="./assets/img/avatars/falsereport.png"></br>学习记录</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.misreport"><img src="./assets/img/avatars/misreport.png"></br>实验训练</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.set"><img src="./assets/img/avatars/set.png"></br>集群安装</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.set"><img src="./assets/img/avatars/work_ruler_96px_1060297_easyicon.net.png"></br>实验报告</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.set"><img src="./assets/img/avatars/training_625px_1217622_easyicon.net.png"></br>实验报告</a>
                    </li>
                </ul>    
            </div>
            
        </div>    
    </div>
    
</div>
