<div ng-controller="addClassCtrl" ng-show="user_logout">
    <div class="well with-header with-footer" style="overflow-y:scroll;height:800px">
        <div class="header bordered-blueberry" style="font-size:20px">
            班级添加
        </div>
        <div>
            <section>
            <div style="border-radius:2px">
           
                <form id="uploadForm" ng-submit="submit_form()" enctype="multipart/form-data" method="post" action="/api/sendAddClass">
                    <h1 style="font-size:16px;margin-bottom: 5px">班级名称</h1>
                    <input type="text" name="className" placeholder="班级名称" ng-model="className" style="width:30%;padding:6px 12px;margin-bottom:5px"/>

                    <h1 style="font-size:16px;margin-bottom: 5px">学生人数上限</h1>
                    <input type="text" name="overall" placeholder="" ng-model="overall" style="width:30%;padding:6px 12px;margin-bottom:5px"/>
                
                    <h1 style="font-size:16px;margin-bottom:5px">学生名单</h1>
                    <div>
                        <div >
                             <span style="font-size: 15px">{{filename}}</span> 
                        </div>
                        <div>
                    <!--这里之所以写个循环，是为了后期万一需要多个‘加号’框 -->
                            <label style="font-size:15px">
                                <input type="file" id="excelFile" name="excelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"  file-model="excel" onchange="angular.element(this).scope().excel_upload(this.files)"/>
                            </label>
                        </div>
                    </div>
                    <input style="font-size:15px;margin-top:5px;padding-left:20px;padding-right:20px;padding-top:5px;padding-bottom:3px;background-color:#37474f;color:white;border:0px;border-radius:5px" type="submit" name="" value="提交" />
                </form>

            </div>
            </section>
        </div>
        <!-- 设置提醒提示框：课程信息填写不完全提示 -->
        <div class="modal hide" id="classInputModal" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bordered">
                    <!-- 模态框取消按钮 -->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="">
                            班级信息提示
                        </h4>
                        <!-- /*<hr style="border-top:1px ridge #e75b8d;">*/ -->
                    </div>
                    <div class="modal-body">
                        <label>
                            <span class="text">班级信息填写不完全，请重新确认填写！</span>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button id="closeAlert" type="button" class="btn" data-dismiss="modal" ng-click="closeModal()">关 闭</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 设置confirm确定与取消按钮提示框 -->
        <div class="modal hide" id="confirmAdd" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bordered">
                    <!-- 模态框取消按钮 -->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeConfirm()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="">
                            班级添加
                        </h4>
                        
                    </div>
                    <div class="modal-body">
                        <label>
                            <span class="text">确定添加新班级？</span>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button id="confirmButton" type="button" class="btn" ng-click="confirmAddClass()">确 定</button>
                        <button id="denyButton" type="button" class="btn" data-dismiss="modal" ng-click="closeConfirm()">取 消</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 课程添加成功提示框设置 -->
        <div class="modal hide" id="addSuccess" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bordered">
                    <!-- 模态框取消按钮 -->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="">
                            班级添加
                        </h4>
                        <!-- /*<hr style="border-top:1px ridge #e75b8d;">*/ -->
                    </div>
                    <div class="modal-body">
                        <label>
                            <span class="text">班级添加成功！</span>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button id="closeAlert" type="button" class="btn" data-dismiss="modal" ng-click="closeModal()">关 闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

