<div ng-controller="addPictureCtrl" ng-show="user_logout">
<!-- 我的课程 -->
	<div class="well with-header with-footer" style="overflow:hidden;height:800px">
		<div class="header bordered-blueberry" style="font-size:20px">
			课程图片添加
		</div>

		<div>
            <form ng-submit="submit_form2()" enctype="multipart/form-data" method="post" action="/api/sendAddCourse">
                <div>
                    <div ng-repeat="item in thumb">
                    <!-- 采用angular循环的方式，对存入thumb的图片进行展示 -->
                        <label>
                            <img ng-src="{{item.imgSrc}}" style="width:400px;height:300px">
                        </label>
                        <span ng-if="item.imgSrc" ng-click="img_del($index)"></span>
                    </div>
                    <div ng-repeat="item in thumb_default">
                    <!-- 这里之所以写个循环，是为了后期万一需要多个‘加号’框 -->
                        <label>
                            <input type="file" id="imageFile" name="imageFile" accept="image/*" file-model="images" onchange="angular.element(this).scope().img_upload(this.files)"/>
                        </label>
                    </div>
                </div>
                <input type="submit" name="" value="提 交" />
            </form>
        </div>
	</div>
</div>