<div ng-controller="addStudentCtrl" ng-show="user_logout">
	<div class="well with-header with-footer" style="overflow-y:scroll;height:800px">
		<div class="header bordered-blueberry" style="font-size:20px">
			添加学生
		</div>

    	    	<div style="border-radius:2px">
                        <!--<form id="uploadForm" ng-submit="submit_form()" enctype="multipart/form-data" method="post" action="/api/sendAddstudent">-->
                            <h1 style="font-size:16px;margin-bottom: 5px">班级名称</h1>
                            <span name="className"style="font-size:16px;width:30%;margin-bottom:5px;padding-left: 0px">{{storage.classname}}</span>
                            <h1 style="font-size:16px;margin-bottom: 5px">学号</h1>
                            <input type="text" name="studentId" placeholder="学号" ng-model="studentId" style="width:30%;padding:6px 12px;margin-bottom:5px"/>
                            <h1 style="font-size:16px;margin-bottom: 5px">姓名</h1>
                            <input type="text" name="studentName" placeholder="姓名" ng-model="studentName" style="width:30%;padding:6px 12px;margin-bottom:5px"/>
                            <h1 style="font-size:16px;margin-bottom: 5px">性别</h1>
                            <input type="text" name="studentGen" placeholder="性别" ng-model="studentGen" style="width:30%;padding:6px 12px;margin-bottom:5px"/>
                            <h1 style="font-size:16px;margin-bottom: 5px">专业</h1>
                            <input type="text" name="studentMajor" placeholder="专业" ng-model="studentMajor" style="width:30%;padding:6px 12px;margin-bottom:5px"/>
                            <h1 style="font-size:16px;margin-bottom: 5px">学院</h1>
                            <input type="text" name="studentApartment" placeholder="学院" ng-model="studentApartment" style="width:30%;padding:6px 12px;margin-bottom:5px"/>
                            <h1 style="font-size:16px;margin-bottom: 5px"></h1>
                            <button style="font-size:15px;margin-top:5px;padding-left:20px;padding-right:20px;background-color:#37474f;color:white;padding:5px 20px;border:0px;border-radius:5px" ng-click="addStudents()">添加</button>
                        <!--</form>-->
                    </div>        

	</div>
</div>
