<div ng-controller="addTeacherCtrl" ng-show="user_logout">
	<div class="well with-header with-footer" style="margin-bottom: 0px;">
		<div class="header bordered-blueberry" style="font-size:20px">
			老师添加
		</div>
        <div style="border-radius:2px">
            <!-- <form id="teacherForm" ng-submit="submit_form()" enctype="multipart/form-data" method="post" action="/api/sendAddTeacher"> -->
                <form id="teacherForm" ng-submit="submit_form()" enctype="multipart/form-data" method="post">
                <h1 style="font-size:16px;margin-bottom: 5px">工号</h1>
                <input type="text" name="teacherId" placeholder="工号" ng-model="teacherId" style="width:30%;padding:6px 12px;margin-bottom:5px"/>
                <h1 style="font-size:16px;margin-bottom: 5px">教师名称</h1>
                <input type="text" name="teacherName" placeholder="教师名称" ng-model="teacherName" style="width:30%;padding:6px 12px;margin-bottom:5px"/>
                <h1 style="font-size:16px;margin-bottom: 5px">性别</h1>
                <select class="form-control" name="teacherGen" placeholder="性别" ng-model="teacherGenFlag" style="width:30%;padding:6px 12px;margin-bottom:5px">
                    <option value="1">男</option>
                    <option value="0">女</option>
                </select>
                <h1 style="font-size:16px;margin-bottom: 5px">职称</h1>
                <input type="text" name="teacherTitle" placeholder="职称" ng-model="teacherTitle" style="width:30%;padding:6px 12px;margin-bottom:5px"/>
                <h1 style="font-size:16px;margin-bottom: 5px">教授专业方向</h1>
                <input type="text" name="teacherMajor" placeholder="教授专业方向" ng-model="teacherMajor" style="width:30%;padding:6px 12px;margin-bottom:5px"/>
                <h1 style="font-size:16px;margin-bottom: 5px">学院</h1>
                <input type="text" name="teacherApartment" placeholder="学院" ng-model="teacherApartment" style="width:30%;padding:6px 12px;margin-bottom:5px"/>
                <h1 style="font-size:16px;margin-bottom: 5px">教师简介</h1>
                <textarea name="teacherPre" placeholder="教师简介" ng-model="teacherPre" style="width:80%;padding:6px 12px;margin-bottom:5px"></textarea>
                <h1 style="font-size:16px;margin-bottom: 5px">照片</h1>
                <input type="file" file-model="image" accept="iamge/jpg,image.png,image/jpeg,image/svg,image/gif" ng-model="teacherPicture">
                <input style="font-size:15px;margin-top:30px;padding:2px 12px;background-color:#575a5d;color:white;border:0px;border-radius:8px" type="submit" name="" value="确认添加" />
                <!-- <h1 style="font-size:16px;margin-bottom: 5px"></h1>
                <button style="font-size:15px;margin-top:5px;padding-left:20px;padding-right:20px;background-color:#37474f;color:white;padding:5px 20px;border:0px;border-radius:5px" ng-click="addTeacher()">添加</button> -->
            </form>
        </div>

        <!-- 设置提醒提示框：课程信息填写不完全提示 -->
        <div class="modal hide" id="teacherInputModal" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true" style="margin-top:90px">
            <div class="modal-dialog" style="width:300px">
                <div class="modal-content">
                    <div class="modal-header bordered" style="border-color:#469cdd;border-bottom-width: 2px">
                    <!-- 模态框取消按钮 -->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="" style="text-align: center;">
                            教师信息提示
                        </h4>
                        <!-- /*<hr style="border-top:1px ridge #e75b8d;">*/ -->
                    </div>
                    <div class="modal-body" style="text-align:center">
                        <label>
                            <span class="text">教师信息填写不完全，请重新确认填写！</span>
                        </label>
                    </div>
                    <div class="modal-footer" style="text-align:center">
                        <button type="button" class="btn" style="border:0px;border-radius:8px;background-color:#469cdd;padding:3px 15px;color:white" data-dismiss="modal" ng-click="closeModal()">关 闭</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 设置confirm确定与取消按钮提示框 -->
        <div class="modal hide" id="confirmAdd" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true" style="margin-top:90px">
            <div class="modal-dialog" style="width:300px">
                <div class="modal-content">
                    <div class="modal-header bordered" style="border-color:#469cdd;border-bottom-width: 2px">
                    <!-- 模态框取消按钮 -->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeConfirm()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="" style="text-align: center;">
                        教师添加
                        </h4>
                        
                    </div>
                    <div class="modal-body" style="text-align:center">
                        <label>
                            <span class="text">确定添加新教师吗？</span>
                        </label>
                    </div>
                    <div class="modal-footer" style="text-align:center">
                        <button type="button" class="btn" style="border:0px;border-radius:8px;background-color:#469cdd;padding:3px 15px;color:white" ng-click="confirmAddTeacher()">确 定</button>
                        <button type="button" class="btn" style="border:0px;border-radius:8px;background-color:white;padding:3px 15px;" data-dismiss="modal" ng-click="closeConfirm()">取 消</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 课程添加成功提示框设置 -->
        <div class="modal hide" id="addSuccess" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true" style="margin-top:90px">
            <div class="modal-dialog" style="width:300px">
                <div class="modal-content">
                    <div class="modal-header bordered" style="border-color:#469cdd;border-bottom-width: 2px">
                    <!-- 模态框取消按钮 -->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="" style="text-align: center;">
                            教师添加
                        </h4>
                        <!-- /*<hr style="border-top:1px ridge #e75b8d;">*/ -->
                    </div>
                    <div class="modal-body" style="text-align:center">
                        <label>
                            <span class="text">教师添加成功！</span>
                        </label>
                    </div>
                    <div class="modal-footer" style="text-align:center">
                        <button type="button" class="btn" style="border:0px;border-radius:8px;background-color:#469cdd;padding:3px 15px;color:white" data-dismiss="modal" ng-click="closeModal()">关 闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
