<div ng-controller="classManageCtrl" ng-show="user_logout">
<!-- 班级管理 -->
	<div class="well with-header with-footer" style="min-width: 730px">
		<div class="header bordered-blueberry">
			<span>班级管理</span>
			<button title="创建班级" class="addClassButton return" ng-click="addClassButton()" style="margin-right:50px"><img src="assets/img/avatars/add_create_new_plus_positive_512px_1225528_easyicon.net.png" style="width:20px;height:20px;"></button>
		</div>
		<!-- 已有班级信息 -->
		<!--<div ng-show="{{storage.authority==2}}" class="subject">-->
			<div class="module select" style="height:700px;overflow-y:scroll">
		            <ul class="playground_lists" style="padding-left: 0px">
			            <div id="classDiv">
			            	<table class="table">
			            		<style type="text/css">
			            			a:link{color: black;
			            					}
			            			a:visited{color: black}
			            		</style>
			            		<thead>
			            			<tr>
			            				<th>班级名</th>
			            				<th>当前学生人数</th>
			            				<th>学生人数上限</th>
			            				<th>创建时间</th>
			            				
			            			</tr>
			            		</thead>
			            		<tbody>
			            			<tr  ng-repeat="class in classes">
			            				<td>
			            					<!--<a href="#" class="clearfix" ng-click="getClassId({{class.classId}})">{{class.classname}}</a></td>-->
			            				{{class.classname}}</td>
			            				<td>{{classstdNum[$index].num}}</td>
			            				<td>{{class.overall}}</td>
			            				<td>{{class.createtime}}</td>
			            				<td>
			            					<button title="删除该班级" class="btn" ng-click="deleteClass({{class.classId}})">
			            						<img ng-src="assets/img/avatars/delete.jpg" style="width:14px;height:14px"><br>
			            					</button>
			            				</td>
			            				<td><button title="班级详情" class="btn" ng-click="getClassId({{class.classId}})">
			            				<img ng-src="assets/img/avatars/select_details.png" style="width:14px;height:14px;margin-right:10%"><br>
			            				</button></td>
			            			</tr>
			            		</tbody>
			            	</table>
			            </div>
		            </ul>
		    </div>
		    <!-- 设置confirm确定与取消按钮提示框 -->
			<div class="modal hide" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header bordered">
						<!-- 模态框取消按钮 -->
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeConfirm()">
								&times;
							</button>
							<h4 class="modal-title" id="">
								班级设置
							</h4>
							
						</div>
						<div class="modal-body">
							<label>
								<span class="text">确定执行该操作？</span>
							</label>
						</div>
						<div class="modal-footer">
							<button id="confirmButton" type="button" class="btn" ng-click="confirmDel()"> 确 定 </button>
							<button id="denyButton" type="button" class="btn" data-dismiss="modal" ng-click="closeConfirm()"> 取 消 </button>
						</div>
					</div>
				</div>
			</div>
			
	</div>
</div>
</html>
