 
<div ng-controller="classDetailsCtrl" ng-show="user_logout">
<!-- 学生名单 -->
    
    <div class="well with-header with-footer" style="height: 800px;min-width: 800px">
        <div class="header bordered-blueberry" style="font-size:20px;" >
            <span class="classname" style="text-align: center;float: left;">{{storage.classname}}</span>
            <button title="添加学生" style="font-size:20px;background-color: transparent;border:0px;float:right;margin-right:50px" ng-click="addStudentButton()"><img src="assets/img/avatars/add_create_new_plus_positive_512px_1225528_easyicon.net.png" style="width:20px;height:20px;"></button>
            <button title="返回上一页" style="border: none;background-color: transparent;float: right;" ng-click="backward()"><img src="assets/img/avatars/arrow_bold_backward.png" style="width:20px;height:20px;"></button>
        </div>
       
        <!--/div-->
        <!-- 已有班级信息 -->
        <!--<div ng-show="{{storage.authority==2}}" class="subject">-->
            <div class="module select" style="height:700px;overflow-y:scroll">
                    <ul class="playground_lists" style="padding-left: 0px;">
                        <div id="classDiv">
                            <table width="100%" class="table" style="background-color:#F2F2F2; font-size:18px">
                                <style type="text/css">
                                    a:link{color: black;}
                                    a:visited{color: black}
                                </style>
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">学号</th>
                                        <th style="text-align: center;">姓名</th>
                                        <th style="text-align: center;">性别</th>
                                        <th style="text-align: center;">班级</th>
                                        <th style="text-align: center;">专业</th>
                                        <th style="text-align: center;">学院</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  ng-repeat="classstd in classstd">
                                        <td style="font-size: 15px;vertical-align:middle;text-align: center">{{classstd.userId}}</td>
                                        <!--<td style="font-size: 14px;vertical-align:middle;">
                                            <a href="#" class="clearfix" ng-click="getclassStd({{class.classID}})">{{class.classname}}</a></td>-->
                                        <td style="font-size: 15px;vertical-align:middle;text-align: center">{{classstd.userName}}</td>
                                        <td style="font-size: 15px;vertical-align:middle;text-align: center">{{classstd.gender}}</td>
                                        <td style="font-size: 15px;vertical-align:middle;text-align: center">{{classstd.classname}}</td>
                                        <td style="font-size: 15px;vertical-align:middle;text-align: center">{{classstd.major}}</td>
                                        <td style="font-size: 15px;vertical-align:middle;text-align: center">{{classstd.apartment}}</td>
                                        <td style="font-size: 15px;vertical-align:middle;text-align: center"><button title="删除学生" class="btn" style="border: none; background-color:#F2F2F2" ng-click="deleteStd('{{classstd.userId}}')">
                                        <img ng-src="assets/img/avatars/delete.jpg" style="width:14px;height:14px">
                                        </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ul>
            </div>
    </div>
</div>
