<div ng-controller="clusterInstallationCtrl" ng-show="user_logout">

	<div class="well with-header with-footer">
		<div class="header bordered-blueberry">
			<span>
				集群安装----Hadoop集群安装配置
			</span>
			<div id="" class="sidebar ui-resizable fl" ng-class="sidebarState" ng-init="sidebarState='show'" style="width: 100%;margin-top:50px;background-color: #fbfbfb;" ng-style="leftSidebar">
				<div style="width:100%">
					<!-- 左侧实验内容栏 -->
					<div class="sidebar_content" style="margin-left: -8px;width: 100%;text-align: center">
						<!-- 左侧标签页栏 -->
						<div class="tab_title clearfix" style="width: 100%;text-align: center">  
							<a class="fl mt_guide" ng-class="tabShow1" ng-init="tabShow1='activeTab'" href="javascript:;" ng-click="showWho(1)" style="width:33.3%"><span ng-class="tab_sec" ng-init="tab_sec='tab_sec_ac'"></span>目的和原理</a>
							<a class="fl mt_steps" ng-class="tabShow2" ng-init="tabShow2='stunTab'" href="javascript:;" ng-click="showWho(2)" style="width:33.3%"><span ng-class="tab_fir" ng-init="tab_fir='tab_fir_st'"></span>实验步骤</a>
							<a class="fl mt_vnc" ng-class="tabShow3" ng-init="tabShow3='stunTab'" href="javascript:;" ng-click="showWho(3)" style="width:33.3%"><span ng-class="tab_third" ng-init="tab_third='tab_third_st'"></span>虚拟机列表</a>
						</div>
					</div>
					<!-- 内容栏 -->
					<div class="tab_content" style="height:680px;">
						<!-- 目的和原理标签页 -->
						<div id="guide" ng-class="show1" ng-init="show1='dataSee'" class="tab_mc scene_guide no_padding">
							<div class="explain_content" tabindex="0" style="overflow: auto;margin-top: -10px;">
								<div>
									<div class="scene_lecture">
										<p class="test_title" id="principle_0" name="#principle_0">实验目的</p>
										<div class="guide_step">
											<div class="lecture markdown-body">
												<ul>
													<div ng-bind-html='courseContentSteps'></div>
												</ul>												
											</div>
										</div>
									</div>
									<div class="scene_lecture">
										<p class="test_title" id="principle_1" name="#principle_1">实验原理</p>
										<div class="guide_step" ng-bind-html='courseContentPrinciples' style="font-size: 16px;">	
										</div>
									</div>
									<div class="scene_lecture">
										<p class="test_title" id="principle_2" name="#principle_2">实验环境</p>
										<div class="guide_step" ng-bind-html='courseContentEnvironments' style="font-size: 16px;">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 实验步骤标签页 -->
						<div id="steps" ng-class="show2" ng-init="show2='dataInvi'" class="tab_mc scene_steps no_padding" style="">
							<div class="scene_lecture" style="overflow-y: scroll;">
								<!-- <p class="test_title" id="principle_2" name="#principle_2">实验步骤</p> -->
								<div class="guide_step" ng-bind-html='courseContentProcedures' style="font-size: 16px;">
								</div>
							</div>
						</div>
						<!-- 虚拟机列表 -->
						<div id="vnc_lists" ng-class="show3" ng-init="show3='dataInvi'" class="tab_mc scene_vnc">
							<div class="operation_wrapper">
								<!-- on off  disabled -->
								<a href="javascript:;" class="vnc_btn off vnc_start_btn fl" id="vnc_start_btn" ng-click="launch_hadoop()">
									<span class="btn_img"></span>
									<span class="tips" style="font-size: 15px;">启动所有虚拟机</span>
								</a>
								<!-- <a href="javascript:;" class="vnc_btn off vnc_stop_btn fl" id="vnc_stop_btn" ng-click="shutdown_vnc()">
									<span class="btn_img"></span>
									<span class="tips" style="font-size: 15px;">回收所有虚拟机</span>
								</a> -->
							</div>
							<ul class="vnc_list" tabindex="3" style="overflow: hidden; outline: none;">
								<li class="off vnc_item" data-id="0" data-name="操作机" ng-click="machine(1)">
									<div class="vnc_mt">
										<span class="icon"></span>
										<span class="vnc_name" style="font-size: 15px;">操作机</span>
									</div>
									<div class="vnc_mc clearfix">
										<ol class="ip_lists fl"></ol>
										<span class="status fr" ng-style="vncStateColor">{{vncState}}</span>
									</div>
								</li>
								<li class="off vnc_item" data-id="0" data-name="操作机" ng-click="machine(2)" value="slave1">
									<div class="vnc_mt">
										<span class="icon"></span>
										<span class="vnc_name" style="font-size: 15px;">操作机</span>
									</div>
									<div class="vnc_mc clearfix">
										<ol class="ip_lists fl"></ol>
										<span class="status fr" ng-style="vncStateColor">{{vncState}}</span>
									</div>
								</li>
								<li class="off vnc_item" data-id="0" data-name="操作机" ng-click="machine(3)">
									<div class="vnc_mt">
										<span class="icon"></span>
										<span class="vnc_name" style="font-size: 15px;">操作机</span>
									</div>
									<div class="vnc_mc clearfix">
										<ol class="ip_lists fl"></ol>
										<span class="status fr" ng-style="vncStateColor">{{vncState}}</span>
									</div>
								</li>
								<li class="off vnc_item" data-id="0" data-name="操作机" ng-click="machine(4)">
									<div class="vnc_mt">
										<span class="icon"></span>
										<span class="vnc_name" style="font-size: 15px;">操作机</span>
									</div>
									<div class="vnc_mc clearfix">
										<ol class="ip_lists fl"></ol>
										<span class="status fr" ng-style="vncStateColor">{{vncState}}</span>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
		
	</div>
</div>