<div ng-controller="courseDetailsCtrl">
	<div class="wrap">
		<div class="banner_wrap col-md-12 col-xs-12 col-lg-12">
			<!-- <canvas id="nokey" style="width:1384px;height:200px"></canvas> -->
			<div class="area">
				<div class="banner clearfix">
					<div class="img_area fl col-md-4 col-xs-4 col-lg-4">
						<img class="chosingCoursePicture col-md-12 col-xs-12 col-lg-12" ng-src={{chosingCoursePicture}} alt="课程封面图">
					</div>
					<div class="center course_infos fl col-md-7 col-xs-7 col-lg-7">
						<div class="title clearfix">
							<h2 class="fl">
								<span class="name">{{chosingCourseName}}</span>
								<span class="chosingCourseIntro">{{chosingCourseIntro}}</span>
							</h2>
						</div>
						<div class="infos clearfix">
							<div class="nums fl">
								<span ng-show="{{storage.authority}} == 1 || {{storage.authority}} == 2" class="palyground_num">共有<em class="hour">{{moduleImgs.length}}</em>个实验</span>
								<span ng-show="{{storage.authority}} == 0" class="palyground_num">共有<em class="hour">{{stuModuleImgs.length}}</em>个实验</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 当前为教师端的实验显示内容 -->
		<div ng-show="{{storage.authority}}==1 || {{storage.authority}} == 2" class="playground_wrap area">
		<!-- 选项卡设置：已学过人数、全部模块 -->
			<div class="tab_switch" id="tabBox1">
                <ol class="clearfix" id="option1">
                    <li class="select">全部</li>
                    <li >已学过</li>
                	<button class="addExpButton" ng-show="flag" ng-click="addExpButton()" title="添加实验"><img src="assets/img/avatars/add_create_new_plus_positive_512px_1225528_easyicon.net.png">
            		</button>
                </ol>
               
                <!-- 全部课件模块 -->
                <div class="module select">
		            <ul class="playground_lists">
			            <div id="expDiv">
			            	<li class="playground clearfix" ng-repeat="moduleImg in moduleImgs">
			            	<div id="expTitle" class="col-md-10 col-xs-10 col-lg-10">
			            		<a class="clearfix" ng-click="getModuleId({{moduleImg.experienceId}})">
			            			<div class="fl title">
			            				<h3>{{moduleImg.experienceName}}</h3>
			            				<p class="experienceObjective">实验目的：{{moduleImg.experienceObjective}}</p>
			            			</div>
			            			<div class="hideShowExp" style="" ng-show="{{moduleImg.hideShowExp == 0}}">
			            				<h3 style=""><该实验内容学生不可见></h3>
			            			</div>
			            		</a>
			            	</div>
			            	<div ng-show="({{storage.authority}}==1 ||{{storage.authority}}==2)&& flag" class="littleButton row col-offset-md-10 col-offset-xs-10 col-offset-lg-10 col-md-2 col-xs-2 col-lg-2">
			            		
			            		<button id="expDelete" ng-click="deleteExperience({{moduleImg.experienceId}})">
			            			<img ng-src="assets/img/avatars/delete.jpg"><br><span>删除</span>
			            		
			            		</button>
			            		<button id="expHide">
			            			<img ng-src="{{moduleImg.hideLogoExp}}" ng-click="hideExp({{moduleImg.experienceId}})"><br><span ng-show="{{moduleImg.hideShowExp == 1}}">隐藏</span><span ng-show="{{moduleImg.hideShowExp == 0}}">恢复</span>
			            		</button>
			            		<button id="expModify" ng-click="modifyExperience({{moduleImg.experienceId}})">
			            			<img ng-src="assets/img/avatars/multi-edit.png"><br><span>修改</span>
			            		</button>
			            	</div>
			            	</li>
			            </div>
		            </ul>
		        </div>
		        <!-- 已学过的人数 -->
		        <div class="module">
		        	<ul class="learnedModule_lists">
		        		<li class="playground clearfix" ng-repeat="moduleImg in moduleImgs track by $index">
		        			<div id="expTitle" class="col-md-10 col-xs-10 col-lg-10">
			        			<a class="clearfix" ng-click="getModuleId({{moduleImg.experienceId}})">
			        				<div class="fl title">
			        					<h3>{{moduleImg.experienceName}}</h3>
			        					<p class="experienceObjective">实验目的：{{moduleImg.experienceObjective}}</p>
			        				</div>
			        				
			        			</a>
			        		</div>
			        		<div class="row col-offset-md-10 col-offset-xs-10 col-offset-lg-10 col-md-2 col-xs-2 col-lg-2">
	        					<h4 class="numCount">{{moduleImg.numCount}}人已学习</h4>
	        				</div>
		        		</li>
		        	</ul>
		        </div>
            </div>

		</div>
				
		<!-- 设置隐藏/显示按钮成功提示框设置 -->
		<div class="modal hide" id="updateExpHideShowModal" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header bordered">
					<!-- 模态框取消按钮 -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
							&times;
						</button>
						<h4 class="modal-title" id="">
							实验设置
						</h4>
						<!-- /*<hr style="border-top:1px ridge #e75b8d;">*/ -->
					</div>
					<div class="modal-body">
						<label>
							<span class="text">实验设置成功！</span>
						</label>
					</div>
					<div class="modal-footer">
						<button id="closeAlert" type="button" class="btn" data-dismiss="modal" ng-click="closeModal()">关 闭</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 设置隐藏/显示按钮成功提示框设置 -->
		<div class="modal hide" id="updateExpHideShowFail" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header bordered">
					<!-- 模态框取消按钮 -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
							&times;
						</button>
						<h4 class="modal-title" id="">
							实验设置
						</h4>
						<!-- /*<hr style="border-top:1px ridge #e75b8d;">*/ -->
					</div>
					<div class="modal-body">
						<label>
							<span class="text">实验设置失败！</span>
						</label>
					</div>
					<div class="modal-footer">
						<button id="closeAlert" type="button" class="btn" data-dismiss="modal" ng-click="closeModal()">关 闭</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 设置confirm确定与取消按钮提示框 -->
		<div class="modal hide" id="confirmExpModal" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header bordered">
					<!-- 模态框取消按钮 -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeConfirm()">
							&times;
						</button>
						<h4 class="modal-title" id="">
							实验设置
						</h4>
						
					</div>
					<div class="modal-body">
						<label>
							<span class="text">确定执行该操作？</span>
						</label>
					</div>
					<div class="modal-footer">
						<button id="confirmButton" type="button" class="btn" ng-click="confirmExp()">确 定</button>
						<button id="denyButton" type="button" class="btn" data-dismiss="modal" ng-click="closeConfirm()">取 消</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="{{storage.authority==0}}" class="playground_wrap area">
		<!-- 选项卡设置：已学过、未学过、以及全部模块 -->
			<div class="tab_switch" id="tabBox">
                <ol class="clearfix" id="option">
                    <li class="select">全部</li>
                    <li >未学过</li>
                    <li >已学过</li>
                </ol>
                <!-- 全部课件模块 -->
                <div class="module select">
		            <ul class="playground_lists">
			            <div id="expDiv">
			            	<li class="playground clearfix" ng-repeat="stuModuleImg in stuModuleImgs">
			            	<div id="expTitle" class="col-md-10 col-xs-10 col-lg-10">
			            		<a class="clearfix" ng-click="getModuleId({{stuModuleImg.experienceId}})">
			            			<div class="fl title">
			            				<h3>{{stuModuleImg.experienceName}}</h3>
			            				<p class="experienceObjective">实验目的：{{stuModuleImg.experienceObjective}}</p>
			            			</div>
			            		</a>
			            	</div>
			            	
			            	</li>
			            </div>
		            </ul>
		        </div>
		        <!-- 未学过的课程模块 -->
		        <div class="module">
		        	<ul class="willLearnModule_lists">
		        		<li class="playground clearfix" ng-repeat="willLearnModule in willLearnModules track by $index">
			        		<div id="expTitle" class="col-md-10 col-xs-10 col-lg-10">
			        			<a class="clearfix" ng-click="getModuleId({{willLearnModule.experienceId}})">
			        				<div class="fl title">
			        					<h3>{{willLearnModule.experienceName}}</h3>
			        					<p class="experienceObjective">实验目的：{{willLearnModule.experienceObjective}}</p>
			        				</div>
			        			</a>
			        		</div>
		        		</li>
		        	</ul>
		        </div>
		        <!-- 已学过的课程模块 -->
		        <div class="module">
		        	<ul class="learnedModule_lists">
		        		<li class="playground clearfix" ng-repeat="learnedModule in learnedModules track by $index">
			        		<div id="expTitle" class="col-md-10 col-xs-10 col-lg-10">
			        			<a class="clearfix" ng-click="getModuleId({{learnedModule.experienceId}})">
			        				<div class="fl title">
			        					<h3>{{learnedModule.experienceName}}</h3>
			        					<p class="experienceObjective">实验目的：{{learnedModule.experienceObjective}}</p>
			        				</div>
			        			</a>
			        		</div>
		        		</li>
		        	</ul>
		        </div>
            </div>

		</div>
	</div>
</div>


