<div ng-controller="experimentalTrainingCtrl">
    <!-- <div class="well with-header with-footer col-md-12 col-lg-12 col-xs-12" style="overflow-x:scroll;height:800px">
        <div class="header bordered-pink" style="font-size:20px">
        添加实验
        </div>
        <div>
	        <tr>  
			    <th>上传图片</th>  
			    <td>  
			        <input type="text" id="abccc" />  
			        <input type="button" id="myEditorImagesss" onclick="upImage();" value="上传图片"/>  
			    </td>  
			</tr> 
		</div>

    </div> -->
</div>       