<div ng-controller="learningRecordCtrl">
<!-- 学习记录 -->
	<div class="well with-header with-footer" >
		<div class="header bordered-blueberry">
		实验记录
		</div>
		<div class="learningRecord" style="height:680px;overflow-y:scroll">
			<table class="table table-striped records col-xs-12 col-md-12 col-lg-12">
				<tbody class="recordHead">
					<tr>
						<!-- <th>标记</th> -->
						<th>学习实验</th>
						<th ng-show="storage.authority==1">学习人数</th>
						<th>学习记录数</th>
						<th>总学习时长</th>
						<th>最近学习时间</th>
						<th>学习详情</th>
					</tr>
					<tr class="recordContent" ng-repeat="learningRecord in learningRecords track by $index">
						<!-- <td>254</td> -->
						<td>{{learningRecord.courseName}}</td>
						<td ng-show="storage.authority==1">{{learningRecord.usercount}}</td>
						<td>{{learningRecord.recordcount}}</td>
						<td>{{divideDate(learningRecord.sumLearningTime)}}</td>
						<td>{{transDate(learningRecord.lastonTime)}}</td>
						<td>
							<a ng-show="{{storage.authority == 1}}" ng-click="getRecordDetails('{{learningRecord.expId}}')">查看详情</a>
							<a ng-show="{{storage.authority == 0}}" ng-click="getRecordDetails({{learningRecord.expId}})">查看详情</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- <div class="pageCount col-lg-12 col-md-12 col-xs-12">
			<div style="">
				<ul class="pagination">
					<li ng-class="{true:'disabled'}[p_current==1]"><a href="javascript:void(0);" ng-click="p_index()">首页</a></li>
					<li ng-repeat="page in pages" ng-class="{true:'active'}[p_current==page]"><a href="javascript:void(0);" ng-click="load_page(page)"> {{ page }} </a></li>
					<li ng-class="{true:'disabled'}[p_current==p_all_page]"><a href="javascript:void(0);" ng-click="p_last()">尾页</a></li>
				</ul>
				<span>共{{count}}条记录</span>
			</div>
		</div> -->
		
	</div>
	
</div>