<div ng-controller="modifyExperimentalCtrl">
    <div class="well with-header with-footer col-md-12 col-lg-12 col-xs-12">
        <div class="header bordered-blueberry">
        修改实验
        </div>
        <div >
            <h1 style="font-size:15px">选择修改的实验名称：</h1>
            <select class="form-control" id="expname" style="width:20%">
                <option ng-repeat="experience in experiences" value="{{experience.expId}}" >{{experience.expName}}
                </option>
            </select>
        </div>
        <div>
            <h1  style="font-size:15px">实验目的</h1>
    </div>
</div>  
