<div ng-controller="recordDetailsCtrl">
<!-- 详情页面 -->
	<div class="well with-header with-footer">
		<div class="header bordered-blueberry">
		学习记录详情
		</div>

		<div>
			<table class="detailsFirst col-xs-12 col-md-12 col-lg-12">
				<tr >
					<th >学习课程名</th>
					<!-- 由于学习记录都是一个，所以只取第一个即可；当前返回的实验名称 -->
					<td>{{searchCourseName}}</td>
					<!-- <th>VNC启动时长</th>
					<td>{{experienceName1}}</td> -->
				</tr>
				<tr>
					<th>学习实验名称</th>
					<td>{{searchExpName}}</td>
					<!-- <th>学习时长</th>
					<td>{{learningRecord.LearningTime}}</td> -->
				</tr>
			</table>
			<!--<p class="col-xs-12 col-md-12 col-lg-12" style = "margin-top:10px;margin-bottom:-40px;">
				<uib-pagination total-items="vm.learningRecords" ng-model="vm.page.index" ng-change="pageChanged()"  max-size="5" bounday-links="true" items-per-page="vm.page.size" class="pagination-sm pull-right"></uib-pagination>
			</p>-->
			<table class="detailsTwo col-xs-12 col-md-12 col-lg-12">
				<tr>
					<th ng-show="storage.authority==1">学习者</th>
					<th>实验时长</th>
					<th>学习开始时间</th>
					<th>学习结束时间</th>
					<th>VNC运行时长</th>
					<th>IP地址</th>
				</tr>
				<tr ng-repeat="learningRecord in vm.learningRecords track by $index">
					
					<td ng-show="storage.authority==1">{{learningRecord.userName}}</td>
					<td>{{divideDate(learningRecord.LearningTime)}}</td>
					<td>{{transDate(learningRecord.onTime)}}</td>
					<td>{{transDate(learningRecord.offTime)}}</td>
					<td>{{learningRecord.vncTime}}</td>
					<td>{{learningRecord.ip}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>