<div ng-controller="updCourseCtrl" ng-show="user_logout">
<!-- 实验任务 -->
	<div id="updCourse" class="well with-header with-footer">
		<div class="header bordered-blueberry">
			<span>课程修改</span>
		</div>
		<div>
			<h1>课程封面图
			</h1>
			<div>
				<img alt="封面图预览" ng-src="{{chosingCoursePicture}}" style="width:312px;height: 160px"/>
			</div>
			<input type="file" file-model="image" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" style="margin-top: 20px"/>
		</div>
		<div >
			<h1>课程名称</h1>
			<textarea id="updName" ng-model="chosingCourseName">{{chosingCourseName}}</textarea>
		</div>
		<div >
			<h1>课程简介</h1>
			<textarea id="updIntro" ng-model="chosingCourseIntro">{{chosingCourseIntro}}</textarea>
		</div>
		<input style="font-size:15px;margin-top:40px;padding:2px 12px;background-color:#575a5d;color:white;border:0px;border-radius:8px" ng-click="updCourse()" type="submit" value="提交修改" />
	</div>

	<!-- 课程修改失败提示框设置 -->
		<div class="modal hide" id="updFailed" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header bordered">
					<!-- 模态框取消按钮 -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
							&times;
						</button>
						<h4 class="modal-title" id="">
							课程修改
						</h4>
						
					</div>
					<div class="modal-body">
						<label>
							<span class="text">课程修改成功！</span>
						</label>
					</div>
					<div class="modal-footer">
						<button id="closeAlert" type="button" class="btn" data-dismiss="modal" ng-click="closeModal()">关 闭</button>
					</div>
				</div>
			</div>
		</div>
</div>

