<div ng-controller="userSettingCtrl" ng-show="user_logout">
<!-- 实验任务 -->
	<div class="well with-header with-footer">
		<div class="header bordered-blueberry">
			用户信息
		</div>
		<div style="margin-left:20px;margin-top:20px;">
			<img ng-src="{{userInfo.headPortrait}}" style="width:80px;height: 80px;border-radius:40px">
			<!-- <span style="font-size: 20px;">{{userInfo.userName}}</span> -->
		</div>
		<div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="widget flat radius-bordered">
                        <div class="widget-body">
                            <div id="registration-form">
                                <form role="form">
                                    
                                    <div class="form-group">
                                        <span class="input-icon icon-right" style="font-size:20px">
                                            工号/学号： {{userInfo.userId}}
                                            <!-- <i class="glyphicon glyphicon-user circular"></i> -->
                                            
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <span class="input-icon icon-right" style="font-size:20px">
                                            姓名： {{userInfo.userName}}
                                        </span>
                                    </div>
                                    <div class="form-title">
                                        <span style="font-size:20px;font-weight:600;">
                                            修改密码(密码必须包含数字、字母、符号三种类型)
                                        </span>
                                    </div>
                                    <span style="font-size:20px;font-weight:normal;">
                                            新密码
                                    </span>
                                    <div class="form-group">
                                        <span class="input-icon icon-right">
                                            <input type="text" class="form-control" id="passwordInput" placeholder="密码长度不小于8且不超过20" ng-model="newPassword">
                                            <i class="fa fa-lock circular"></i>
                                        </span>
                                    </div>
                                    <span style="font-size:20px;font-weight:normal;">
                                            确认密码
                                    </span>
                                    <div class="form-group">
                                        <span class="input-icon icon-right">
                                            <input type="text" class="form-control" id="confirmPasswordInput" placeholder="确认密码和新密码保持一致" ng-model="conPassword">
                                            <i class="fa fa-lock circular"></i>
                                        </span>
                                    </div>   
                                    <button style="font-size:15px;margin-top:40px;padding:2px 12px;background-color:#575a5d;color:white;border:0px;border-radius:8px;" ng-click="modifyPassword()">修改密码</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div id="notSame" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bordered">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeAlert()">&times;
					</button>
					<h4 class="modal-title">修改密码</h4>
				</div>
				<div class="modal-body">
					<label>
						<span>密码不符合要求，请重新确认！</span>
					</label	>
				</div>
				<div class="modal-footer">
					<button id="closeAlert" type="button" class="btn" data-dismiss="modal" ng-click="closeAlert()">
						关闭
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 课程添加成功提示框设置 -->
	<div class="modal hide" id="modifySuccess" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bordered">
				<!-- 模态框取消按钮 -->
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeSuccess()">
						&times;
					</button>
					<h4 class="modal-title" id="">
						修改密码
					<!-- /*<hr style="border-top:1px ridge #e75b8d;">*/ -->
				</div>
				<div class="modal-body">
					<label>
						<span class="text">密码修改成功！下次登录开始有效</span>
					</label>
				</div>
				<div class="modal-footer">
					<button id="closeAlert" type="button" class="btn" data-dismiss="modal" ng-click="closeSuccess()">关 闭</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 密码修改失败提示框设置 -->
	<div class="modal hide" id="modifyFailed" tabindex="-1" role="dialog" aria-labelledby="MyModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bordered">
				<!-- 模态框取消按钮 -->
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeFailed()">
						&times;
					</button>
					<h4 class="modal-title" id="">
						修改密码
					<!-- /*<hr style="border-top:1px ridge #e75b8d;">*/ -->
				</div>
				<div class="modal-body">
					<label>
						<span class="text">密码修改失败！</span>
					</label>
				</div>
				<div class="modal-footer">
					<button id="closeAlert" type="button" class="btn" data-dismiss="modal" ng-click="closeFailed()">关 闭</button>
				</div>
			</div>
		</div>
	</div>
</div>